*, *::before,*::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  background: #272727;
}

.calci-grid{
  padding: 5% 0;
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 5rem);
  justify-content: center;
  filter: drop-shadow(0px 4px 30px #121212);
}

.span-two{
  grid-column: span 2;
}

.output{
  grid-column:  1 / -1;
  background-color: #444444;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 25px;
  margin-bottom: 10px;
}
.output .previous-operand{
  color: #e28f00;
  font-size: 1.5rem;
}

.output .current-operand{
  color: #fff;
  font-size: 2.5rem;
}

.calci-grid > button{
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid #272727;
  outline: none;
  background-color: #fff;
  border-radius: 25px;
  transition: all 0.3s ease;
  color: #272727;
}
.calci-grid > button:hover,
.calci-grid > button:focus{
  background-color: #d3d3d3;
  border-radius: 15px;
}
#ans{
  background-color: #ffba43;
}
#ans:hover,
#ans:focus{
  background-color: #e28f00;
  color: #fff;
}

#ac:hover{
  background-color: #23d3ff;
  color: #fff;
}
#del:hover{
  background-color: #ff2323;
  color: #fff;
}